

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon name="easel"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="productos">
      <ion-icon name="id-card"></ion-icon>
      Ventas
    </ion-tab-button>
    <ion-tab-button tab="pagos">
      <ion-icon name="cash"></ion-icon>
      Pagos
    </ion-tab-button>
    <ion-tab-button tab="informacion">
      <ion-icon name="library"></ion-icon>
      Información
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

