<ion-content>

  <ion-segment value="general" scrollable mode="md">

    <ion-segment-button value="general">
      <ion-label>General</ion-label>
    </ion-segment-button>
    
    <ion-segment-button value="strange">
      <ion-label>Strange</ion-label>
    </ion-segment-button>

    <ion-segment-button value="prime">
      <ion-label>Prime</ion-label>
    </ion-segment-button>

    <ion-segment-button value="suprime">
      <ion-label>Suprime</ion-label>
    </ion-segment-button>
  
  </ion-segment>

  <ion-searchbar search-icon="cart" mode="ios" show-clear-button="always" value="" placeholder="Busqueda"></ion-searchbar>

  <ion-list>
    
    <ion-item lines="none">
      <ion-card class="width-100">
        <ion-card-header class="header-card-ventas">
          <ion-card-title class="title-heade-card">Katherine</ion-card-title>
          <div class="contenido-secundari-header">
            <ion-label class="item-secundario">Perfil 1</ion-label>
            <ion-label class="item-ligth">12 Junio</ion-label>
          </div>
        </ion-card-header>

        <ion-card-content>
          <ion-label><span class="font-bold">Correo: </span>multi256premium@gmail.com</ion-label>
          <ion-label class="margin-top-10"><span class="font-bold">Contraseña: </span>Copas748@</ion-label>
          <div class="header-card-ventas margin-top-20">
            <ion-label class="text-14"><span class="font-bold">Anterior: </span>$4.000</ion-label>
            <ion-img class="image-logo-cuenta" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Star%2B_logo.svg/2560px-Star%2B_logo.svg.png" alt="Logo Cuenta"></ion-img>
          </div>
        </ion-card-content>

      </ion-card>
    </ion-item>

    <ion-item lines="none">
      <ion-card class="width-100">
        <ion-card-header class="header-card-ventas">
          <ion-card-title class="title-heade-card">Yarisma</ion-card-title>
          <div class="contenido-secundari-header">
            <ion-label class="item-secundario">Perfil 1</ion-label>
            <ion-label class="item-ligth">11 Junio</ion-label>
          </div>
        </ion-card-header>

        <ion-card-content>
          <ion-label><span class="font-bold">Correo: </span>ulili123ii@outlook.com</ion-label>
          <ion-label class="margin-top-10"><span class="font-bold">Contraseña: </span>nuevo123</ion-label>
          <div class="header-card-ventas margin-top-20">
            <ion-label class="text-14"><span class="font-bold">Anterior: </span>$3.500</ion-label>
            <ion-img class="image-logo-cuenta" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Amazon_Prime_Video_logo.svg/1280px-Amazon_Prime_Video_logo.svg.png" alt="Logo Cuenta"></ion-img>
          </div>
        </ion-card-content>

      </ion-card>
    </ion-item>

    <ion-item lines="none">
      <ion-card class="width-100">
        <ion-card-header class="header-card-ventas">
          <ion-card-title class="title-heade-card">Yarisma</ion-card-title>
          <div class="contenido-secundari-header">
            <ion-label class="item-secundario">Perfil 1</ion-label>
            <ion-label class="item-ligth">11 Junio</ion-label>
          </div>
        </ion-card-header>

        <ion-card-content>
          <ion-label><span class="font-bold">Correo: </span>ulili123ii@outlook.com</ion-label>
          <ion-label class="margin-top-10"><span class="font-bold">Contraseña: </span>nuevo123</ion-label>
          <div class="header-card-ventas margin-top-20">
            <ion-label class="text-14"><span class="font-bold">Anterior: </span>$3.500</ion-label>
            <ion-img class="image-logo-cuenta" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Amazon_Prime_Video_logo.svg/1280px-Amazon_Prime_Video_logo.svg.png" alt="Logo Cuenta"></ion-img>
          </div>
        </ion-card-content>

      </ion-card>
    </ion-item>

  </ion-list>

</ion-content>