<ion-content>
  <h3 class="title">Reportar Consignación</h3>
  <form >
    <div class="input-item">
      <ion-icon name="cash"></ion-icon>
      <input type="text" placeholder="Valor Pago" id="" name=""/>
    </div>
    <div class="input-item">
      <ion-icon name="pencil"></ion-icon>
      <input type="text" placeholder="Referencia de Pago" id="" name=""/>
    </div>
    <div class="input-item">
      <ion-icon name="wallet"></ion-icon>
      <input type="text" placeholder="Tipo de Cuenta" id="" name=""/>
    </div>
    <div class="input-item">
      <ion-icon name="image"></ion-icon>
      <input type="text" placeholder="" id="" name=""/>
    </div>

    <div class="button-prop">
      <ion-button shape="round">REPORTAR</ion-button>
    </div>
  </form>

  <ion-list>
    
    <ion-item lines="none">
      <ion-card class="width-100">
        <ion-card-content>
          <div class="display-flex align-items-center justify-content-between">
            <div class="display-flex align-items-start justify-content-center flex-direction-column">
              <ion-label class="texto-card-principal">17 abr.</ion-label>
              <ion-label class="texto-ligth-card">09:27 p.m.</ion-label>
            </div>
            <div class="display-flex align-items-start justify-content-center flex-direction-column">
              <ion-label class="texto-card-principal">$4.000</ion-label>
              <span class="text-tag-card">Aprobado</span>
            </div>
          </div>
          <div class="display-flex align-items-center justify-content-end margin-top-10">
            <ion-img class="img-final" src="https://static.wixstatic.com/media/8384d9_852790a4bdb048d28891c96acf0313f3~mv2.webp"></ion-img>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item>
    
    <ion-item lines="none">
      <ion-card class="width-100">
        <ion-card-content>
          <div class="display-flex align-items-center justify-content-between">
            <div class="display-flex align-items-start justify-content-center flex-direction-column">
              <ion-label class="texto-card-principal">17 abr.</ion-label>
              <ion-label class="texto-ligth-card">09:27 p.m.</ion-label>
            </div>
            <div class="display-flex align-items-start justify-content-center flex-direction-column">
              <ion-label class="texto-card-principal">$4.000</ion-label>
              <span class="text-tag-card">Aprobado</span>
            </div>
          </div>
          <div class="display-flex align-items-center justify-content-end margin-top-10">
            <ion-img class="img-final" src="https://static.wixstatic.com/media/8384d9_852790a4bdb048d28891c96acf0313f3~mv2.webp"></ion-img>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item>
    
    <ion-item lines="none">
      <ion-card class="width-100">
        <ion-card-content>
          <div class="display-flex align-items-center justify-content-between">
            <div class="display-flex align-items-start justify-content-center flex-direction-column">
              <ion-label class="texto-card-principal">17 abr.</ion-label>
              <ion-label class="texto-ligth-card">09:27 p.m.</ion-label>
            </div>
            <div class="display-flex align-items-start justify-content-center flex-direction-column">
              <ion-label class="texto-card-principal">$4.000</ion-label>
              <span class="text-tag-card">Aprobado</span>
            </div>
          </div>
          <div class="display-flex align-items-center justify-content-end margin-top-10">
            <ion-img class="img-final" src="https://static.wixstatic.com/media/8384d9_852790a4bdb048d28891c96acf0313f3~mv2.webp"></ion-img>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item>


  </ion-list>

</ion-content>