

<ion-content [fullscreen]="true">

  <div class="header">
  </div>

  <div class="logo">

  </div>
  
  <div class="formulario">
    <h3 class="heading">Iniciar Sesion</h3>

    <form 
      action="" 
      autocomplete="off"
      [formGroup]="FormReactive"
      (ngSubmit)="login()"
    >

      <div class="input-field margin-bottom-30">
        <ion-icon name="person-circle-outline"></ion-icon>
        <input type="text" placeholder="Nombre de Usuario o Correo" formControlName="email"/>
      </div>
    
      <div class="input-field margin-bottom-30">
        <ion-icon name="eye-off-outline"></ion-icon>
        <input type="password" placeholder="Contraseña" formControlName="password"/>
      </div>

      <div class="display-flex align-items justify-content-between">
        <ion-button shape="round" fill="outline" (click)="toRegister()">
          Registrarse
        </ion-button>
  
        <ion-button shape="round" type="submit" [disabled]="FormReactive.invalid">
          Iniciar Sesion
        </ion-button>
      </div>

      <div class="forgot-pass">
        <a href="#">Olvidé Mi Contraseña</a>
      </div>



    </form>

  </div>
  
</ion-content>


