
<ion-content>
  <div class="contenedor-principal">
    <h3>Descargables</h3>
    <ion-label>Visuzaliza documentos explicativos sobre las plataformas o descarga publicidad para tus estados.</ion-label>
  </div>

  <ion-list>
    <ion-list-header>
      <ion-label>Publicidad para tu negocio</ion-label>
    </ion-list-header>
    <div class="content-list">

      <ion-item lines="none">
        <ion-thumbnail slot="start" class="list-img">
          <img alt="Logo Alojamiento" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Google_Drive_icon_%282020%29.svg/1200px-Google_Drive_icon_%282020%29.svg.png" />
        </ion-thumbnail>
        <ion-label class="label-list">
          <h3>Netflix</h3>
          <p>Publicidad Netflix</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-thumbnail slot="start" class="list-img">
          <img alt="Logo Alojamiento" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Google_Drive_icon_%282020%29.svg/1200px-Google_Drive_icon_%282020%29.svg.png" />
        </ion-thumbnail>
        <ion-label class="label-list">
          <h3>Disney+</h3>
          <p>Publicidad Disney</p>
        </ion-label>
      </ion-item>
    
      <ion-item lines="none">
        <ion-thumbnail slot="start" class="list-img">
          <img alt="Logo Alojamiento" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Google_Drive_icon_%282020%29.svg/1200px-Google_Drive_icon_%282020%29.svg.png" />
        </ion-thumbnail>
        <ion-label class="label-list">
          <h3>Amazon</h3>
          <p>Publicidad Amazon</p>
        </ion-label>
      </ion-item>
    
      <ion-item lines="none">
        <ion-thumbnail slot="start" class="list-img">
          <img alt="Logo Alojamiento" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Google_Drive_icon_%282020%29.svg/1200px-Google_Drive_icon_%282020%29.svg.png" />
        </ion-thumbnail>
        <ion-label class="label-list">
          <h3>HBOMax</h3>
          <p>Publicidad HBOMax</p>
        </ion-label>
      </ion-item>
    
      <ion-item lines="none">
        <ion-thumbnail slot="start" class="list-img">
          <img alt="Logo Alojamiento" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Google_Drive_icon_%282020%29.svg/1200px-Google_Drive_icon_%282020%29.svg.png" />
        </ion-thumbnail>
        <ion-label class="label-list">
          <h3>Spotify</h3>
          <p>Publicidad Spotify</p>
        </ion-label>
      </ion-item>
    
      <ion-item lines="none">
        <ion-thumbnail slot="start" class="list-img">
          <img alt="Logo Alojamiento" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Google_Drive_icon_%282020%29.svg/1200px-Google_Drive_icon_%282020%29.svg.png" />
        </ion-thumbnail>
        <ion-label class="label-list">
          <h3>Prime Video</h3>
          <p>Publicidad Prime Video</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-thumbnail slot="start" class="list-img">
          <img alt="Logo Alojamiento" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Google_Drive_icon_%282020%29.svg/1200px-Google_Drive_icon_%282020%29.svg.png" />
        </ion-thumbnail>
        <ion-label class="label-list">
          <h3>YouTube Premiun</h3>
          <p>Publicidad YouTube Premiun</p>
        </ion-label>
      </ion-item>
    
    </div>
  </ion-list>

</ion-content>
