.contenedor-principal{
    padding: 40px 15px;
}

.contenedor-principal h3{
    font-weight: 600;
    text-align: center;
    color: #000;
    font-size: 24px;
}

.contenedor-principal ion-label{
    line-height: 1.6;
    color: #000;
    text-align: center;
    font-size: 18px;
}

.content-list{
    padding: 15px 30px;
}

.content-list ion-item{
    margin-bottom: 20px;
}

.label-list h3{
    font-size: 18px;
}

.label-list p{
    font-size: 15px;
    color: #333;
}

.list-img{
    width: 30px;
    height: auto;
}