

<form 
  [formGroup]="FormReactive"
  autocomplete="off"
  (ngSubmit)="registerAccount()"
>
  <ion-list>
    
    <ion-item>
      <ion-input type="text" label="Correo" labelPlacement="floating" placeholder="Correo" formControlName="email"></ion-input>
    </ion-item>
    
    
    <ion-item>
      <ion-input type="text" label="Contraseña" labelPlacement="floating" placeholder="Contraseña" formControlName="password"></ion-input>
    </ion-item>
    
    <ion-item>
    
      <ion-select formControlName="idStreaming"
        label="Seleccione una plataforma"
        interface="action-sheet"
        placeholder="Select One"
        mode="ios"
        (ionChange)="assignValue($event);"
      >
        <ion-select-option *ngFor="let streaming of streamings; let i = index" [value]="streaming.id">{{streaming.name}}</ion-select-option>
      </ion-select>
      
    </ion-item> 
    
    
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Registrar Perfiles Para La Cuenta</ion-label>
      </ion-item-divider>
      
      <app-items-profile [allowsItems]="allowsItems" ></app-items-profile>


    </ion-item-group>

    <ion-item >
      <ion-button type="submit" shape="round" expand="full" size="default">Registrar</ion-button>
    </ion-item>
    
  </ion-list>
</form>

<section>

  <h3>Cuentas Registradas</h3>
  <app-list-accounts [listAccounts]="accounts"></app-list-accounts>

</section>

