

<form action="">

  <div class="input-field margin-bottom-30">
    <ion-icon name="person-circle-outline"></ion-icon>
    <input type="text" placeholder="Cuenta" id="username" name="username"/>
  </div>
  <div class="input-field margin-bottom-30">
    <ion-icon name="person-circle-outline"></ion-icon>
    <input type="text" placeholder="Precio" id="username" name="username"/>
  </div>
  <div class="input-field margin-bottom-30">
    <ion-icon name="person-circle-outline"></ion-icon>
    <input type="text" placeholder="Nombre de Usuario o Correo" id="username" name="username"/>
  </div>

</form>

